.FollowersCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 13px;
}

.followers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.followers > div {
  display: flex;
  gap: 10px;
  // align-items: center;
}

.followersImg {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name > span:nth-of-type(1) {
  font-weight: bold;
}

.fc-button {
  height: 2rem;
  padding: 0 20px;
}
